<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <environment include="Development">
        <link href="~/lib/bootstrap/css/bootstrap.css" rel="stylesheet" asp-append-version="true" />
        <script src="~/lib/jquery/jquery.js"></script>
        <script src="~/lib/bootstrap/js/bootstrap.js"></script>
    </environment>
    <environment exclude="Development">

        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" 
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
              crossorigin="anonymous"
              asp-fallback-href="~/lib/bootstrap/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only"
              asp-fallback-test-property="position"
              asp-fallback-test-value="absolute"
              asp-suppress-fallback-integrity="true"
              >
    </environment>
    <link href="~/css/site.css" rel="stylesheet" asp-append-version="true" />
</head>
<body>
    <div class="container">
        <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
            <a class="navbar-brand" asp-action="index" asp-controller="home">
                <img width="30" height="30" src="~/images/jonam.jpg" asp-append-version="true" />
               
            </a>
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#collapseNavBar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="collapseNavBar">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a  asp-action="Index" asp-controller="Home" class="nav-link">List</a>
                    </li>
                    <li class="nav-item">
                        <a asp-controller="Home" asp-action="Create" class="nav-link">Create</a>
                    </li>
                </ul>
            </div>
        </nav>
        <div >
            @RenderBody()
        </div>
        @if (IsSectionDefined("Scripts"))
        {
            RenderSection("Scripts", required: true);
        }
    </div>
</body>
</html>
